body {
    margin: 10em;
    background-color: red;
}

#carcasa {
    background-color: #D6C70D;
    width: 25vw;
    height: 70vh;
    border-radius: 30px;
}

.encendido {
    position: absolute;
    margin-top: 10vh;
    margin-left: 3vh;
    color: aliceblue;
    z-index: 1;
}

.parentesis {
    margin-top: 3.5vh;
    font-weight: bold;
    margin-left: 1.8vw;
}

.power {
    background-color: rgb(248, 123, 123);
    height: 0.5em;
    width: 0.5em;
    border-radius: 100%;
    position: absolute;
    top: 4vh;
    left: 1vw;
}

#zona-superior {
    display: flex;
    height: 35vh;
}

.zona-superior-pantalla {
    display: flex;
    width: 23vw;
    height: 33vh;
    border-radius: 30px;
    background-color: #101011;
    position: absolute;
    margin-top: 3vh;
    margin-left: 1vw;
}

.zona-superior-pantalla-pantalla {
    margin-top: 3.5vh;
    margin-left: 4.5vw;
    width: 15vw;
    height: 23vh;
    background-color: #5A595A;
    z-index: 1;
}

.zona-superior-pantalla-pantalla:hover {
    background-image: url(../img/gameBoy.png);
    background-size: 43vw 41vh;
}

.zona-superior-pantalla-estetica-pantalla-inferior {
    margin-top: -24.2vh;
    margin-left: -7vw;
    width: 37vw;
    height: 60vh;
    background: linear-gradient(to bottom, transparent 95%, #101011 50%);
    position: absolute;
    border-radius: 40%;
}

.zona-superior-etiqueta {
    display: flex;
    width: 14vw;
    height: 4vh;
    background-color: #101011;
    position: absolute;
    margin-top: 31vh;
    margin-left: 7vw;
    color : #b7b7b7;
    font-size: 30px;
    font-family: Pretendo;
}

.zona-superior-etiqueta-letras {
    font-weight: bold;
}
.zona-superior-etiqueta-letras .letra-c {
    color: #7F3443;
    transform: rotate(8deg);
    position: absolute;
    font-size: 36px;
    width: 105px;
}

.zona-superior-etiqueta-letras .letra-o {
    color: #604E96;
    transform: rotate(7deg);
    position: absolute;
    margin-left: 1vw;
    font-size: 23px;
    margin-top: 5px;
}

.zona-superior-etiqueta-letras .letra-l {
    color: #83A665;
    transform: rotate(-15deg);
    position: absolute;
    margin-left: 1.7vw;
    margin-top: -6px;
}

.zona-superior-etiqueta-letras .letra-o2 {
    color: #959A45;
    transform: rotate(7deg);
    position: absolute;
    margin-left: 2.4vw;
    font-size: 23px;
}

.zona-superior-etiqueta-letras .letra-r {
    color: #196E7E;
    transform: rotate(-13deg);
    position: absolute;
    margin-left: 3.1vw;
    margin-top: -8px;
}


#zona-central {
    display: grid;
    height: 20vh;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    overflow: hidden;
}

.zona-central-logo-nintendo {
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
    border: 2px solid #3B3333;
    border-radius: 30px;
    margin-top: 4vh;
    color: #3B3333;
    font-size: 30px;
    font-family: Pretendo;
    opacity: 0.3;
    margin-top: 6vh;
}

.zona-central-cruceta {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10vh;
    margin-left: 2vw;
    width: 6vw;
    height: 12vh;
}

.zona-central-cruceta-arriba {
    background-color: #101011;
}
.zona-central-cruceta-derecha {
    background-color: #101011;
}
.zona-central-cruceta-abajo {
    background-color: #101011;
}
.zona-central-cruceta-izquierda {
    background-color: #101011;
}
.zona-central-cruceta-centro {
    background-color: #101011;
}


/* CAMBIO DE COLOR DE TODOS LOS ICONOS DE GOOGLE ICONS A BLANCO */
.material-symbols-outlined {
    font-size: 28px;
}

.flechaDerecha {
    cursor: pointer;
    margin: 12px;
}

.flechaAbajo {
    cursor: pointer;
    margin: 12px;
    transform: rotate(90deg);
}

.flechaIzquierda {
    cursor: pointer;
    margin: 12px;
    transform: rotate(180deg);
}

.flechaArriba {
    cursor: pointer;
    margin: 12px;
    transform: rotate(270deg);
}

.circuloBlanco{
    margin: 12px;
}

.zona-central-botones-AB{
    font-weight: bold;
    cursor: pointer;
}

.zona-central-botones-AB-botonA {
    border-radius: 50%;
    width: 2.75vw;
    height: 5.5vh;
    margin-left: 3.5vw;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,83,7,1) 100%);
}

.zona-central-botones-AB-botonB {
    background-color: #101011;
    border-radius: 50%;
    width: 2.75vw;
    height: 5.5vh;
    margin-top: -1.5vh;
}

.boton-a{
    margin-top: 1vh;
    margin-left: 0.92vw;
    position: absolute;
    font-size: 30px;
}

.boton-b{
    margin-top: 1vh;
    margin-left: 0.92vw;
    position: absolute;
    font-size: 30px;
}

#zona-inferior {
    display: grid;
    height: 15vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.zona-inferior-botones {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 1fr;
}

.zona-inferior-botones-start {
    background-color: #101011;
    border-radius: 30px;
    width: 60px;
    height: 20px;
    margin-left: 1vw;
    margin-top: -22px;
}

.zona-inferior-botones-select {
    background-color: #101011;
    border-radius: 30px;
    width: 60px;
    height: 20px;
    margin-top: -22px;
    margin-left: 40px;
}

.select {
    margin-left: 0px;
    position: absolute;
    margin-top: 30px;
    color: #3B3333;
    opacity: 0.3;
}

.start{
    margin-left: 6px;
    position: absolute;
    margin-top: 30px;
    color: #3B3333;
    opacity: 0.3;
}

.zona-inferior-estetica-inferior {
    display: grid;
    margin-top: -9vh;
    width: 25vw;
    height: 14.5vh;
    border-radius: 50%;
    background-color: #D6C70D;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.zona-inferior-estetica-inferior-altavoz {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    transform: rotate(-6deg);
}

.opened {
    background-color: black;
    border-radius: 50%;
}

.closed {
    background-color: #3B3333;
    border-radius: 50%;
    opacity: 0.2;
}